@{
    ViewData["Title"] = "Política de Privacidade";
}
<br />
<h1>@ViewData["Title"]</h1>
<br />
<p>Todos os direitos reservados aos criadores originais da aplicação, SAS e Inovar. Este site é apenas uma demonstração de acessibilidade.</p>
